// custom
$primary: #30475E;

* {
  color: #30475E;
}

section {
  padding: 50px;
}

// *{
//   border: 1px solid gray;
// }

// bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~node_modules/bootstrap-icons/font/bootstrap-icons.css";